<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric's Portfolio</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <%-include('partials/navbar', {page: '/about'}) %>

    <div class="container mx-auto">

        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About</h1>
                    <p class="py-6">This is the highlights of my profile</p>
                </div>
            </div>
        </div>
        <br>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

          <div>
           <img class ="w-full rounded-lg" src = "profile image.jpeg" alt="profile">
           <p>
            I'm passionate about a wide range of hobbies and constantly expanding my knowledge through various courses. 
            When I'm not immersed in my studies, you'll often find me pursuing my favorite hobbies.
            I have a deep love for programming, which allows me to think logically. 
            Additionally, I find great satisfaction in reading, where I can get a variety of knowledge.
        </p>
          </div>

          <div class="prose text-2xl py-6">
            <p>
                <strong>Technical Skills</strong>
                <br><br>
                Programming Languages:<strong>C++, Java, Python</strong>
                <br>
                Database Management: <strong>Oracle 12c, MySQL, MongoDB, MS-SQL Server, Google Clould Database</strong>
                <br>
                Design and IDE Tools: <strong>MS Visual Studio, MS Visual Code, MS Office, Salesforce</strong>
                <br>
                Operating Systems: <strong>Windows, Linux/Unix</strong>
                <br>
                Web Development: <strong>JavaScript, CSS3, HTML5, JSON, Node JS, GIT</strong>
                <br>
                Visualization: <strong>Tableau, MS Power BI</strong>
                <br><br>
                <strong>Highlights of Qualifications</strong>
                <br><br>
                ● <strong>Data Analytics and Visualization:</strong> Proficient in data manipulation, extraction, transformation and analysis using programming languages such as Python, SQL, and R with records from complex datasets and intuitive visualization skill using Tableau and MS Power BI and capable of suggest recommendations.
                <br>
                ● <strong>Problem Solving:</strong> Exceptional problem-solving skills by accurate testing and debugging.
                <br>
                ● <strong>Communication and Troubleshooting:</strong> Strong written and verbal communication skills, demonstrated by effective collaboration with team members via virtual meeting app like Microsoft Teams.
                <br>
                ● <strong>Quality Assurance:</strong> Capable of organizing test plans and validating data.
                <br>
                ● <strong>Multi-tasking:</strong> Excellent performance in planning tasks and working under pressure.
                <br>
                ● <strong>Critical thinking:</strong> Proficient at applying SDLC and PMLC to complete projects utilizing Jira.
                <br>
                ● <strong>Azure DevOps:</strong> Skilled in setting up CI/CD pipelines, version control, and automated deployment.
                <br>
            </p>
            <br>
            
          </div>


      </div>

    </div>
</body>
</html>